/* // Author: Harsh Vaghani - B00923828 - harsh.vaghani@dal.ca */

.subscribe {
	background-color: white;
	margin: 00px 20px 20px;
	padding: 20px 10px 10px 80px;
	box-shadow: 0 0 10px #333333;
	border-radius: 10px;
}

.text {
	text-align: center;
}

.text-fields {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-fields input {
	width: 200px;
	height: 30px;
	margin: 5px 20px;
}

.sub-buttons {
	margin: 10px;
	background-color: #3f51b5;
	color: white !important;
	border: #3f51b5 1px solid;
	border-radius: 10%;
}

.sub-buttons:hover {
	background-color: #3f51b599;
}
