<!-- // Author: Harsh Vaghani - B00923828 - harsh.vaghani@dal.ca -->

<main>
	<div class="subscribe">
		<div class="text">
			<h2>Amazing Deals. No Catches.</h2>
			<h4>
				Ocean Cruises - River Cruises - Hotel & Resorts - All Inclusives
				- Group Travel - Safaris
			</h4>
		</div>
		<div class="text-fields">
			<div>
				<input type="text" placeholder="First Name" />
				<input type="text" placeholder="Email" />
			</div>

			<a mat-button color="primary" class="sub-buttons">Packages</a>
		</div>
	</div>
</main>
