<!-- // Author: Harsh Vaghani - B00923828 - harsh.vaghani@dal.ca -->

<div class="container">
	<div *ngIf="showSuccessMessage" class="alert alert-success">
		User updated successfully!
	</div>

	<h1>User Profile</h1>
	<form class="profile-form">
		<div class="form-group">
			<label for="firstName">First Name</label>
			<input
				type="text"
				id="firstName"
				name="firstName"
				[(ngModel)]="user.firstName"
				[disabled]="!editMode"
				required
			/>
		</div>
		<div class="form-group">
			<label for="lastName">Last Name</label>
			<input
				type="text"
				id="lastName"
				name="lastName"
				[(ngModel)]="user.lastName"
				[disabled]="!editMode"
				required
			/>
		</div>
		<div class="form-group">
			<label for="username">Username</label>
			<input
				type="text"
				id="username"
				name="username"
				[(ngModel)]="user.username"
				[disabled]="!editMode"
				required
			/>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input
				type="email"
				id="email"
				name="email"
				[(ngModel)]="user.email"
				[disabled]="!editMode"
				required
			/>
		</div>
		<div class="form-group">
			<label for="birthdate">Birthdate</label>
			<input
				type="date"
				id="birthdate"
				name="birthdate"
				[(ngModel)]="user.birthdate"
				[disabled]="!editMode"
				required
			/>
		</div>
		<div class="form-group">
			<label for="phone">Phone</label>
			<input
				type="tel"
				id="phone"
				name="phone"
				[(ngModel)]="user.phone"
				[disabled]="!editMode"
				required
			/>
		</div>
		<div class="form-group">
			<label for="address">Address</label>
			<input
				type="text"
				id="address"
				name="address"
				[(ngModel)]="user.address"
				[disabled]="!editMode"
				required
			/>
		</div>
		<div class="form-group">
			<label for="city">City</label>
			<input
				type="text"
				id="city"
				name="city"
				[(ngModel)]="user.city"
				[disabled]="!editMode"
				required
			/>
		</div>
		<div class="form-group">
			<label for="country">Country</label>
			<input
				type="text"
				id="country"
				name="country"
				[(ngModel)]="user.country"
				[disabled]="!editMode"
				required
			/>
		</div>
		<div class="btn-group">
			<button
				*ngIf="editMode"
				class="btn btn-primary"
				(click)="updateUserProfile()"
			>
				Save
			</button>
			<button
				*ngIf="!editMode"
				(click)="toggleEditOn()"
				class="btn btn-edit"
			>
				Edit
			</button>
			<button class="btn btn-danger" (click)="deleteAccount()">
				Delete My Account
			</button>
		</div>
	</form>
</div>
