<main>
	<div class="row">
		<div class="column">
			<mat-card class="card">
				<mat-card-content>
					<h1>Start your cruising journey from</h1>
					<h3>
						<mat-icon color="primary">location_on</mat-icon>Halifax
						Port
					</h3>

					<h1>Package Details</h1>
					<h3 style="margin-top: 5px">
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
						obcaecati labore maiores! Magni, quis nam eos quidem
						unde quasi nisi non animi, possimus sapiente
						quaerat?Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Corrupti magni sit iure illum illo
						magnam nulla. Porro officiis totam ad, cupiditate non
						perferendis, consequuntur esse quis ex est aliquid
						obcaecati!
					</h3>

					<h1>Package Highlights</h1>
					<h3>
						<mat-icon color="primary">scuba_diving</mat-icon
						>Experience Scuba Diving
					</h3>
					<h3>
						<mat-icon color="primary">pool</mat-icon>Flex Size
						Swimming Pool
					</h3>
					<h3>
						<mat-icon color="primary">fitness_center</mat-icon>Fully
						Equipped Gym
					</h3>
					<h3>
						<mat-icon color="primary">spa_outlined</mat-icon>World
						Class Spa
					</h3>

					<h1>Package Policies</h1>
					<h3>
						Lorem ipsum dolor sit, amet consectetur adipisicing
						elit. Totam reiciendis impedit quasi consequatur vel sit
						fuga maxime magnam! Repellat, qui at ipsam iure optio
						labore aspernatur incidunt dolorem quidem ipsa.
					</h3>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="column">
			<div class="content">
				<div class="row-wrap">
					<div class="card-wrapper">
						<mat-card class="mat-elevation-z4">
							<mat-card-header>
								<mat-card-title>INSIDE</mat-card-title>
							</mat-card-header>
							<img
								mat-card-image
								src="https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvZnJjcnVpc2Vfc2hpcF9teV9zaGlwLWltYWdlLWt5YmR4NXQ5LmpwZw.jpg"
							/>
							<mat-card-content>
								<h5>Room Details</h5>
							</mat-card-content>
							<mat-card-actions>
								<button
									(click)="onClick()"
									mat-raised-button
									color="primary"
								>
									Book
								</button>
							</mat-card-actions>
						</mat-card>
					</div>
					<div class="card-wrapper">
						<mat-card class="mat-elevation-z4">
							<mat-card-header>
								<mat-card-title>OCEANVIEW</mat-card-title>
							</mat-card-header>
							<img
								mat-card-image
								src="https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvZnJjcnVpc2Vfc2hpcF9teV9zaGlwLWltYWdlLWt5YmR4NXQ5LmpwZw.jpg"
							/>
							<mat-card-content>
								<h5>Room Details</h5>
							</mat-card-content>
							<mat-card-actions>
								<button mat-raised-button color="primary">
									Book
								</button>
							</mat-card-actions>
						</mat-card>
					</div>
					<div class="card-wrapper">
						<mat-card class="mat-elevation-z4">
							<mat-card-header>
								<mat-card-title>SUITE</mat-card-title>
							</mat-card-header>
							<img
								mat-card-image
								src="https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvZnJjcnVpc2Vfc2hpcF9teV9zaGlwLWltYWdlLWt5YmR4NXQ5LmpwZw.jpg"
							/>
							<mat-card-content>
								<h5>Room Details</h5>
							</mat-card-content>
							<mat-card-actions>
								<button mat-raised-button color="primary">
									Book
								</button>
							</mat-card-actions>
						</mat-card>
					</div>
					<div class="card-wrapper">
						<mat-card class="mat-elevation-z4">
							<mat-card-header>
								<mat-card-title>BALCONY</mat-card-title>
							</mat-card-header>
							<img
								mat-card-image
								src="https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvZnJjcnVpc2Vfc2hpcF9teV9zaGlwLWltYWdlLWt5YmR4NXQ5LmpwZw.jpg"
							/>
							<mat-card-content>
								<h5>Room Details</h5>
							</mat-card-content>
							<mat-card-actions>
								<button mat-raised-button color="primary">
									Book
								</button>
							</mat-card-actions>
						</mat-card>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
