   /* Author: Akash Gupta - B00912118 - ak459448@dal.ca */

   .column {
     float: left;
   }

   .left {
     width: 25%;
     margin-top: 2%;
     margin-left: 3%;
   }

   .center {
     width: 40%;
     margin-left: 3%;
     padding: 2%;
   }

   .right {
     width: 57%;
     padding: 10px;
   }


   .row:after {
     content: "";
     display: table;
     clear: both;
   }

   .example-full-width-1 {
     margin-left: 21%;
     width: 20%;
     margin-top: 5%;
   }

   .example-full-width-2 {
     margin-left: 3%;
     width: 20%;
   }

   .count {
     margin-left: 3%;
     margin-top: 2%;
   }

   .align-job {
     float: right;
     margin-top: -34px;
   }

   .navbar {
     background-color: #e3f2fd;
   }

  .jobSearch
  {
	width: 101%;
	background-image: url(../../assets/images/job_openings.jpg);
	height: 386px;
	background-size: 100% 93%;
	background-repeat: no-repeat;
  }

   @media all and (max-width:1348px)
 {
    .left {
     width: 50%;
     margin-top: 2%;
     margin-left: 3%;
   }
 }

    @media all and (max-width:817px)
 {
   .align-job
   {
    margin-top: 1%;
   }
 }




