<!-- // Author: Harsh Vaghani - B00923828 - harsh.vaghani@dal.ca -->

<footer class="mat-elevation-z2">
	<div class="custom-shape-divider-top-1677424268">
		<svg
			data-name="Layer 1"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1200 120"
			preserveAspectRatio="none"
		>
			<path
				d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
				class="shape-fill"
			></path>
		</svg>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h4 class="footer-title">About Us</h4>
				<ul class="footer-list">
					<li>
						<a href="#" class="footer-link mat-button"
							>Who we are</a
						>
					</li>
					<li>
						<a href="#" class="footer-link mat-button">Blog</a>
					</li>
					<li>
						<a routerLink="careers" class="footer-link mat-button"
							>Careers</a
						>
					</li>
					<li>
						<a routerLink="feedback" class="footer-link mat-button"
							>Feedback</a
						>
					</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4 class="footer-title">Explore</h4>
				<ul class="footer-list">
					<li>
						<a
							routerLink="event"
							href="#"
							class="footer-link mat-button"
							>Organize an Event</a
						>
					</li>
					<li>
						<a href="#" class="footer-link mat-button">Cruises</a>
					</li>
					<li>
						<a
							routerLink="packagelist"
							href="#"
							class="footer-link mat-button"
							>Tours</a
						>
					</li>
					<li>
						<a
							routerLink="packagelist"
							href="#"
							class="footer-link mat-button"
							>Packages</a
						>
					</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4 class="footer-title">Rent or Lease</h4>
				<ul class="footer-list">
					<li>
						<a href="#" class="footer-link mat-button"
							>Rent a Cruise</a
						>
					</li>
					<li>
						<a
							routerLink="ownerlease"
							class="footer-link mat-button"
							>Get a Lease</a
						>
					</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4 class="footer-title">Contact Us</h4>
				<ul class="footer-list">
					<li>
						<p class="icon-container">
							<mat-icon class="material-icons"
								>location_on</mat-icon
							>
							123 Main Street, Anytown USA
						</p>
					</li>

					<li>
						<p class="icon-container">
							<mat-icon class="material-icons">phone</mat-icon> +1
							(123) 456-7890
						</p>
					</li>
					<li>
						<p class="icon-container">
							<mat-icon class="material-icons">email</mat-icon>
							info@hfxcruise.ca
						</p>
					</li>
				</ul>
			</div>
		</div>
		<mat-divider class="footer-divider"></mat-divider>
		<div class="row footer_content_wrapper">
			<div>
				<span> &copy; 2023 HFX Cruise. All Rights Reserved. </span>
			</div>
			<div class="footer-policy-block">
				<a href="#" class="footer-link mat-button">Privacy Policy</a>
				<div class="footer-line-small"></div>
				<a href="#" class="footer-link mat-button">Terms of Service</a>
			</div>
		</div>
	</div>
</footer>
