<mat-toolbar color="black" style="background-color: black">
	<span style="text-align: center; color: white"
		>Welcome!! Explore your cruise vacation</span
	>
</mat-toolbar>

<div style="margin: 50px 150px 50px 150px">
	<mat-card
		class="example-card"
		style="margin-left: 50px; margin-right: 50px; margin-top: 3%"
	>
		<mat-card-header>
			<mat-card-title-group>
				<mat-card-title>Africa Cruise Tours</mat-card-title>
				<mat-card-subtitle style="margin-top: 10px">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
						obcaecati labore maiores! Magni, quis nam eos quidem
						unde quasi nisi non animi, possimus sapiente
						quaerat?Lorem ipsum dolor sit amet consectetur
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
						obcaecati labore maiores! Magni, quis nam eos quidem
					</p>
					<div>
						<button
							mat-raised-button
							color="primary"
							style="margin-top: 15px"
							(click)="onClick(1)"
							routerLink="packagedetails"
						>
							See more..
						</button>
					</div>
				</mat-card-subtitle>
				<img
					mat-card-xl-image
					src="https://upload.wikimedia.org/wikipedia/commons/2/23/Flag-map_of_South_Africa.svg"
					style="float: left; margin-right: 10px"
				/>
			</mat-card-title-group>
		</mat-card-header>
		<mat-card-content> </mat-card-content>
	</mat-card>

	<mat-card
		class="example-card"
		style="margin-left: 50px; margin-right: 50px; margin-top: 3%"
	>
		<mat-card-header>
			<mat-card-title-group>
				<mat-card-title>Europe Tour</mat-card-title>
				<mat-card-subtitle style="margin-top: 10px">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
						obcaecati labore maiores! Magni, quis nam eos quidem
						unde quasi nisi non animi, possimus sapiente
						quaerat?Lorem ipsum dolor sit amet consectetur
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
						obcaecati labore maiores! Magni, quis nam eos quidem
						unde quasi nisi non animi, possimus sapiente
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
					</p>
					<div>
						<button
							mat-raised-button
							color="primary"
							style="margin-top: 15px"
							(click)="onClick(2)"
							routerLink="packagedetails"
						>
							See more..
						</button>
					</div>
				</mat-card-subtitle>
				<img mat-card-xl-image src="https://coimages.sciencemuseumgroup.org.uk/images/15/44/pic_1978_928.jpg" />
			</mat-card-title-group>
		</mat-card-header>
		<mat-card-content> </mat-card-content>
	</mat-card>

	<mat-card
		class="example-card"
		style="margin-left: 50px; margin-right: 50px; margin-top: 3%"
	>
		<mat-card-header>
			<mat-card-title-group>
				<mat-card-title>Americas Ocean Tour</mat-card-title>
				<mat-card-subtitle style="margin-top: 10px">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
						obcaecati labore maiores! Magni, quis nam eos quidem
						unde quasi nisi non animi, possimus sapiente
						quaerat?Lorem ipsum dolor sit amet consectetur
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
						obcaecati labore maiores! Magni, quis nam eos quidem
						unde quasi nisi non animi, possimus sapiente
						quaerat?Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Corrupti magni sit iure illum illo
					</p>
					<div>
						<button
							mat-raised-button
							color="primary"
							style="margin-top: 15px"
							(click)="onClick(3)"
							routerLink="packagedetails"
						>
							See more..
						</button>
					</div>
				</mat-card-subtitle>
				<img mat-card-xl-image src="https://upload.wikimedia.org/wikipedia/commons/4/49/Flag-map_of_Central_America.svg" />
			</mat-card-title-group>
		</mat-card-header>
		<mat-card-content> </mat-card-content>
	</mat-card>
</div>
