<!-- // Author: Harsh Vaghani - B00923828 - harsh.vaghani@dal.ca -->

<main class="contact">
	<div class="contact-items">
		<div class="contact-block">
			<mat-icon> email</mat-icon>
			<h2>Email</h2>
			<a href="abc@gmail.com">abc@gmail.com</a>
		</div>
		<div class="contact-block">
			<mat-icon>phone</mat-icon>
			<h2>Phone</h2>
			<a href="+1(234) 456789">+1(234)456789</a>
		</div>
		<div class="contact-block">
			<mat-icon>location_on</mat-icon>
			<h2>First Office</h2>
			<p>First Address</p>
			<a href="#" class="directions">Get Direction ></a>
		</div>
		<div class="contact-block">
			<mat-icon>query_builder</mat-icon>
			<h2>Office Hours & Local Number</h2>

			<p>Mon-Fri: 9am - 6pm IST</p>
			<!-- <p>Sat-Sun: 9am - 12pm IST</p> -->
			<div class="inside-block">
				<a href="#">123456789</a>
				<mat-icon class="phone-icons">stay_current_portrait</mat-icon>
			</div>
		</div>
		<div class="contact-block">
			<mat-icon>location_on</mat-icon>
			<h2>2nd Office</h2>
			<p>2nd Address</p>
			<a href="#" class="directions">Get Direction ></a>
		</div>
		<div class="contact-block">
			<mat-icon>query_builder</mat-icon>
			<h2>Office Hours & Local Number</h2>

			<p>Mon-Fri: 9am - 6pm IST</p>
			<!-- <p>Sat-Sun: 9am - 12pm IST</p> -->
			<div class="inside-block">
				<a href="#">123456789</a>
				<mat-icon class="phone-icons">stay_current_portrait</mat-icon>
			</div>
		</div>
	</div>
</main>
