<!-- // Author: Harsh Vaghani - B00923828 - harsh.vaghani@dal.ca -->

<!-- // Author: Harsh Vaghani - B00923828 - harsh.vaghani@dal.ca -->

<main>
	<div class="home">
		<div class="background-img">
			<mdb-carousel [controls]="true" [dark]="true">
				<mdb-carousel-item>
					<img
						src="../../assets/images/bg.jpg"
						class="d-block w-100"
						alt="Picture 1"
					/>
				</mdb-carousel-item>
				<mdb-carousel-item>
					<img
						src="../../assets/images/bg1.jpg"
						class="d-block w-100"
						alt="Picture 2"
					/> </mdb-carousel-item
				><mdb-carousel-item>
					<img
						src="../../assets/images/bg2.jpg"
						class="d-block w-100"
						alt="Picture 3"
					/>
				</mdb-carousel-item>
			</mdb-carousel>
		</div>
		<div class="img-text">
			<h1>Book your cruise</h1>
			<h3>
				Birthday Celebration - Ring Ceremony - Wedding Ceremony -
				Gatherings - Parties
			</h3>
		</div>

		<div class="home-details">
			<h1>Experience. Knowledge. Trust.</h1>
			<h3>
				At HFX Cruise, we're dedicated to providing our clients with
				exceptional travel packages and land deals. While we offer an
				extensive range of travel opportunities to various destinations,
				we acknowledge that we may not always have precisely what you're
				searching for. That's why we offer tailored vacation packages
				that cater to your specific needs and budget. Whether you desire
				a luxurious escape, an adventurous getaway or a romantic
				retreat, we're here to help you design your dream vacation. Our
				team of experienced travel advisors will work with you to create
				an unforgettable experience, with personalized itineraries and
				unparalleled customer service. Let us help you create memories
				that last a lifetime!
			</h3>
		</div>
	</div>
</main>
