<!-- /* Author: Krina Mistry - B00927702 kr981143@dal.ca  */ -->

<main>
	<div class="row">
		<div class="column">
			<mat-card class="card">
				<mat-card-content>
					<h1>{{cruise.title}}</h1>
					<h3>
						<mat-icon color="primary">location_on</mat-icon>{{cruiseDetails.location}}
					</h3>

					<h1>Details</h1>
					<h3 style="margin-top: 5px">
						{{cruiseDetails.description}}
					</h3>

					<h1>Cruise Highlights</h1>
					<h3 *ngFor="let item of cruiseDetails.highlights">
						<mat-icon color="primary">{{item.icon}}</mat-icon>{{item.name}}
					</h3>

					<h1>Cruise Policies</h1>
					<h3>
						{{cruiseDetails.policies}}
					</h3>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="column">
			<div class="content">
				<div class="row-wrap">
					<div class="card-wrapper" *ngFor="let item of cruiseDetails.suites">
						<mat-card class="mat-elevation-z4">
							<mat-card-header>
								<mat-card-title>{{item.type}}</mat-card-title>
							</mat-card-header>
							<img
								mat-card-image
								src="../../assets/images/hotel_room.jpg"
							/>
							<mat-card-content>
								<h5>{{item.details}}</h5>
								<h2>Price: ${{item.price}}</h2>
							</mat-card-content>
							<mat-card-actions>
								<button
									(click)="onClick(item.type)"
									mat-raised-button
									color="primary"
								>
									Book
								</button>
							</mat-card-actions>
						</mat-card>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
