/* Author: Krina Mistry - B00927702 kr981143@dal.ca  */

.card {
	margin-left: 2%;
	flex: 50%;
}

.column {
	flex: 50%;
	padding: 5px;
}

.row-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card-wrapper {
	width: calc(25% - 32px);
	margin: 16px;
	display: inline-block;
	vertical-align: top;
}

.mat-card {
	width: 100%;
	height: 100%;
}
